/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
@import url(../styles/loginComponnt.css);
body *,
body *::after,
body *::before {
  box-sizing: border-box;
  font-size: 1rem;
  color: #121212;
}
/* 로그인 */
header {
  margin-block-start: 6.25rem;

  .naverLogo {
    margin: 0 auto;
  }
}
.loginForm {
  margin: 1.875rem 1.25rem;
  block-size: fit-content;

  &:focus {
    outline: var(--focus-color);
  }

  @media (min-width: 768px) {
    inline-size: 31.25rem;
    margin: 1.875rem auto;
  }
  .formArea {
    inline-size: 100%;

    input {
      inline-size: 100%;
      font-size: var(--input-text-size);
      block-size: var(--input-box-height);
      border: 1px solid var(--border-color);
      background-color: var(--input-bgColor);
    }

    input:focus {
      border-color: #03cf5d;
      background-color: #e9f0fd;
      outline: var(--focus-color);
    }
  }
  .loginBottomArea {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse nowrap;
    align-items: center;

    @media (min-width: 768px) {
      flex-flow: row nowrap;
    }
    button {
      padding: 0;
      border: none;
      background: none;
    }
    p {
      margin: 0;
    }
    .autoLogin {
      display: flex;
      padding-block-start: 0.625rem;

      .autoLoginImg {
        margin-inline-start: 0.3125rem;
      }

      label {
        inline-size: var(--checkBtn-width);
        block-size: var(--checkBtn-height);
        margin-right: 0.325rem;
      }

      #autoLoginCheck + label {
        background-repeat: no-repeat; /* 반복 방지 */
        background-image: url("../assetes/autoLoginUnCheckImg.svg"); /*off 이미지*/
      }
      #autoLoginCheck:checked + label {
        background-repeat: no-repeat; /* 반복 방지 */
        background-image: url("../assetes/autoLoginCheckImg.svg"); /*on 이미지*/
      }
    }
  }
}

.ipSecurity {
  padding-inline-start: 0.625rem;

  @media (min-width: 768px) {
    display: inline;
    input {
      display: none;
    }
    label::before {
      color: #dadada;
      content: "OFF";
    
    }
    #securityToggle:checked + label::before {
      color: #03cf5d;
      content: "ON";
    }
  }
}
